<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <link rel="shortcut icon" href="favicon.png" />
  <meta charset="UTF-8">
  <title>#100DaysOfRunyon</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="countdown.js"></script>

  
  <link href="/stylesheets/Flat-UI-master/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/stylesheets/Flat-UI-master/css/flat-ui.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

  <script>
  </script>
</head>
<body>
    <div id="countdown">
      <script type="application/javascript">
      var test1 = new Countdown({
                rangeHi:"day",
                width:300, 
                height:60, 
                year  : 2014, 
                month : 1, 
                day   : 1, 
                hour  : 0,
                ampm  : "am",
                minute  : 0, 
                second  : 0,
              });
      </script>
  </div>
  <div id="main">
    <h1>#100DaysOfRunyon</h1>
    <h3>100 days. 100 Pictures. Let's go.</h3>
    <h3>Pictures Tagged: <%= count %></h3>
    <div id = "instafeed">
      <% for(var i = 0; i < data.length; i++) { %>
        <div class="is">
          <a href="<%= data[i].link %>"> <img src="<%= data[i].images.standard_resolution.url %>" class="is-img" /> </a>
          <h1 class="is-title">
            <% if(data[i].caption) { %>
                <%= data[i].caption.text %>
            <% } else { %>
                <%= "" %>
            <% } %>
          </h1>
        </div>
      <% } %>
    </div>
    <p id="about">Brought to you by <a href="https://twitter.com/sayangel">@sayangel</a></p>
  </div>


  <script src="/stylesheets/Flat-UI-master/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/jquery.ui.touch-punch.min.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/bootstrap.min.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/bootstrap-select.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/bootstrap-switch.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/flatui-checkbox.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/flatui-radio.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/jquery.tagsinput.js"></script>
  <script src="/stylesheets/Flat-UI-master/js/jquery.placeholder.js"></script>

</body>
</html>
